<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png" />
    <link rel="apple-touch-icon-precomposed" href="/img/icon.png" />

    <title>TODO</title>
    {% style "/css/vendor/foundation.css" %}
    {% style "/css/main.css" %}

</head>
<body>
  <div id="header-wrapper">

    <div class="row">
      <div class="header registry small-12 large-12 columns">
        <nav class="top-bar" data-topbar>
          <h1><a href="/">Register browser</a></h1>
        </nav>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">

      <div id="phase-banner">
        <p>
          <span class="alpha-phase label">ALPHA</span>
          <span class="alpha-description">This is a prototype</span>
        </p>
        <hr>
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}


  <div class="footer-wrapper">
    <div class="row footer">

      <div class="large-10 columns">
	<div class="open-government-licence">
	  <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
	  <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
	</div>
      </div>

      <div class="large-2 columns">
	<div class="copyright">
	  <img src="/img/govuk_crest_grey.png"/>
	  <p>© Crown copyright</p>
	</div>
      </div>

    </div>
  </div>
</div>
  
</body>
</html>
